* text=auto

*.ts text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.scene text eol=lf
*.prefab text eol=lf
*.meta text eol=lf
*.css text eol=lf
*.html text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.mp3 binary
*.wav binary
*.ogg binary
*.ttf binary
*.otf binary
